@charset "utf-8";
/* CSS Document */

/*------------------------------------------------------------------------------------------------*/
/* BASIC SETUP */
/*------------------------------------------------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	color: #1D1D1D;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/*------------------------------------------------------------------------------------------------*/
/* GLOBAL STYLE */
/*------------------------------------------------------------------------------------------------*/
header{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../img/apple-two.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*------------------------------------------------------------------------------------------------*/
/* HEADING STYLE */
/*------------------------------------------------------------------------------------------------*/

.main-nav{
	list-style: none;
	color: white;
	text-align: center;
	text-transform: uppercase;
	float: right;
	margin-right: 6%;
	margin-top: 30px;
	letter-spacing: 2px;
}

.main-nav li{
	display: inline-block;
	margin-left: 50px;
}

.main-nav li a:link,
.main-nav li a:visited{
	color: #FFFFFF;
	padding: 6px 0px;
	text-decoration: none;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:active,
.main-nav li a:hover{
	border-bottom: 2px solid #E67E22;
}

.header-text{
	color: #FFFFFF;
	width: 45%;
	height: auto;
	margin: 22% 30%;
	text-align: center;
	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header-text h3{
	line-height: 150%;
}


/*------------------------------------------------------------------------------------------------*/
/* INTRODUCTION SECTION STYLE */
/*------------------------------------------------------------------------------------------------*/
.section-intro{
	color: black;
	background-image: url(./../img/paper-two.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section-intro h3{
	text-transform: uppercase;
	width: 40%;
	margin: 3% auto;
	text-align: center;
}

.section-intro-pic{
	padding: 5px;
	width: 60%;
	margin: 10% 0 0 40%;
}

.section-intro-pic img{
	height: 650px;
	width: auto;
	
}

.section-intro-main{
	width: 90%;
	line-height: 200%;
	font-size: 120%;
	font-weight: 500;
	padding: 5px;
	margin: 10% 30% 0 0;
}


/*------------------------------------------------------------------------------------------------*/
/* BOOKS SECTION STYLE */
/*------------------------------------------------------------------------------------------------*/

.section-books {
    padding: 10px;
	margin: 20px auto;
}

.section-books h3{
	text-transform: uppercase;
	width: 40%;
	margin: 3% auto;
	text-align: center;
}

.book-showcase {
    list-style: none;
    width: 90%;
	margin: 0;
}

.book-showcase li {
    display: block;
    float: left;
    width: 20%;
}

.book-photo {
    width: 100%;
    margin: 3% 30%;
    overflow: hidden;
}

.book-photo img {
    opacity: 1.2;
    width: auto;
    height: 300px;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}


/*------------------------------------------------------------------------------------------------*/
/* MANTRA SECTION STYLE */
/*------------------------------------------------------------------------------------------------*/
.section-mantra{
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./../img/pink-two.jpg);
	height: 100vh;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 1% auto;
}

.section-mantra h3{
	text-transform: uppercase;
	width: 40%;
	margin: 3% auto;
	text-align: center;
}

.section-mantra p{
	color: white;
	font-size: 18px;
	width: 45%;
	margin: 3% auto;
	text-align: center;
	line-height: 160%;
	padding: 10px;
	border: 1px solid white;
}

.section-mantra q{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

/*------------------------------------------------------------------------------------------------*/
/* GET IN TOUCH SECTION STYLE */
/*------------------------------------------------------------------------------------------------*/
footer h3{
	text-transform: uppercase;
	width: 40%;
	margin: 3% auto;
	text-align: center;
}

.get-in-touch{
    list-style: none;
    width: 60%;
	margin: 5% 15%;
}

.get-in-touch li {
    display: block;
    float: left;
    width: 20%;
	margin-bottom: 4%;
}

.icon-social {
    width: 100%;
    margin: 3% 50%;
    overflow: hidden;
}

.icon-social img {
    opacity: 1.2;
    width: auto;
    height: 100px;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}